<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 justify-content-center align-items-center">
    <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="container">
        <div class="input-group">
            <%= image_tag "/assets/container1.png", :class => "card-img-top" %>
        </div>
        </div>
    </div>
    <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
        <h1 class="">Logo Design</h1>
        <h3>Company Name</h3>
        <h4>Requirements:<h4>
        <h6>Blah blah</h6>
        <small>Starts at Php 1,500</small>
        <button class="btn btn-primary" type="button">Apply Now</button>
    </div>
</div>