<%= render "shared/navbar", header: "", tagline: "", alignment:"text-center" %>

<div class="card bg-light">
    <h1 class="card-title mt-3 text-center" id="services">Services</h1>
      <div class="container input-group justify-content-center" style="width: 30rem;">
        <input type="text" class="form-control" placeholder="Search for jobs suitable for you." id="searchBar">
            <span class="input-group-btn">
              <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
      </div>
</div>